* {
  box-sizing: border-box;
}

.footer {
  border-radius: 15px;
}

.container-info {
  width: 700px;
}

#taille-logo {
  width: 100px;
  height: 100px;
}

.menu-button {
  display: none;
  /* Masquer le bouton sur les écrans plus larges */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

nav {
  position: relative;
  font-size: large;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
}

.position-hover li a {
  display: inline;
  position: relative;
  color: orangered;
}

.taille {
  width: 50px;
  height: 50px;
}

.position-hover a:hover {
  color: orangered;
}

.position-hover a::before {
  content: "";
  width: 0;
  height: 2px;
  /* Hauteur du trait */
  background-color: orangered;
  /* Couleur du trait */
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  /* Transition de largeur */
}

/* Au survol du lien, élargissez le trait */
.position-hover a:hover::before {
  width: 100%;
  /* Largeur maximale du trait */
}

.color {
  color: orangered;
}

.size {
  font-size: 52px;
  white-space: nowrap;
}

section {
  height: 850px;
}

h2 {
  font-family: "Gambetta", serif;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  font-size: 35px;
  color: orangered;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
}

h2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 2px;
}

.heartbeat {
  animation: heartbeat 2s infinite;
  /* Applique l'animation heartbeat */
  display: inline-block;
  /* Permet de maintenir le contenu centré */
  color: orangered;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
}

.gradient-text {
  -webkit-background-clip: text;
  /* Propriété spécifique à WebKit */
  background-clip: text;
  color: transparent;
  /* Rend le texte transparent pour afficher le dégradé en arrière-plan */
  -webkit-text-stroke: 1px orangered;
  /* Largeur et couleur du contour */
  font: size 30px;
}

.border-text {
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: orangered 0px 20px 30px -10px;
}

.border-text p {
  text-align: justify;
}

.debut {
  color: orangered;
  font-size: 1.5em;
}

.carous {
  border-radius: 20px;
  border: 3px solid orangered;
}

.img-container img {
  width: 400px;
  height: 400px;
}

p,
h3,
h4 {
  font-family: "Lekton", sans-serif;
}

.border-left {
  border-right: 1px solid orangered;
}

.title-footer h2 {
  animation: title-footer 1s infinite alternate;
}


.custom-toggler.navbar-toggler{
 border-color:orangered;
  color: orangered;
}

.custom-toggler .navbar-toggler-icon{
  background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orangered' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }

@keyframes title-footer {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(50px);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 1024px) {
  section {
    height: auto;
  }
  ul{
    padding: 0 0 0 20px !important;
  }
  .size {
    font-size: 40px;
    margin: 0;
    padding: 0;
    white-space: normal;
  }

  .border-left {
    border: none;
  }

  .container-info {
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .position-hover a::before {
    display: none;
  }
  .content {
    padding: 0 10px !important;
  }

  p {
    text-align: justify !important;
  }

  .img-container {
    display: none;
  }

  .title-footer h2 {
    animation: none;
    text-align: center;
  }

  .footer {
    padding: 0 !important;
  }

  h4 {
    text-align: center;
    padding: 0 0 0 50px !important;
  }
 
}
